// COLORS 

$color-primary: #55BABE;
$color-primary-light: #BEFCFE;
$color-primary-dark: #458083;

$color-gray-light-1: #f7f7f7;

$color-gray-dark: #777;
$color-white: #FFF;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 100rem;
$col-height: 5rem;
$gutter-vertical:2rem ;
$gutter-hozional:8rem;